title: media
description: Bike Walk Vote related Media
author: Bike Walk Vote PAC
---------------------------------------------META

%h2 Images
%p Photographs, posters, fliers, etc.
%h3 Local Motion
%ul.images
  %li
    %a{:href => "http://www.facebook.com/photo.php?fbid=320176231352151&set=a.320176051352169.65889.231653533537755&type=3", :title => "Rob Sadowsky, Scott Lieuallen and Kelly Bantle"}
      %img{:alt => "Rob Sadowsky, Scott Lieuallen and Kelly Bantle", :height => "100", :src => "/media/photos/pdxmayor-01-mini.jpg", :width => "100"}/
  %li
    %a{:href => "http://www.facebook.com/photo.php?fbid=320176198018821&set=a.320176051352169.65889.231653533537755&type=3", :title => "Charlie Burr, Catherine Cameron, Carl Larson, Rachel Richardson, Paul van Orden, Evan Manvel, Lillie Jones and Peter Welte"}
      %img{:alt => "Charlie Burr, Catherine Cameron, Carl Larson, Rachel Richardson, Paul van Orden, Evan Manvel, Lillie Jones and Peter Welte", :height => "100", :src => "/media/photos/pdxmayor-02-mini.jpg", :width => "100"}/
  %li
    %a{:href => "http://www.facebook.com/photo.php?fbid=320176291352145&set=a.320176051352169.65889.231653533537755&type=3", :title => "Lindsay Caron, Eric Stachon, Chris Hagerbaumer and Rob Sadowsky"}
      %img{:alt => "Lindsay Caron, Eric Stachon, Chris Hagerbaumer and Rob Sadowsky", :height => "100", :src => "/media/photos/pdxmayor-03-mini.jpg", :width => "100"}/
  %li
    %a{:href => "http://www.facebook.com/photo.php?fbid=320176268018814&set=a.320176051352169.65889.231653533537755&type=3", :title => "Nick Falbo, Carl Larson, Lindsay Caron and Peter Welte"}
      %img{:alt => "Nick Falbo, Carl Larson, Lindsay Caron and Peter Welte", :height => "100", :src => "/media/photos/pdxmayor-04-mini.jpg", :width => "100"}/
  %li
    %a{:href => "http://www.facebook.com/photo.php?fbid=320176341352140&set=a.320176051352169.65889.231653533537755&type=3", :title => "Amanda J. Caffall, Stephanie Routh and Gerik Kransky"}
      %img{:alt => "Amanda J. Caffall, Stephanie Routh and Gerik Kransky", :height => "100", :src => "/media/photos/pdxmayor-05-mini.jpg", :width => "100"}/
  %li
    %a{:href => "http://www.facebook.com/photo.php?fbid=320176311352143&set=a.320176051352169.65889.231653533537755&type=3", :title => "Peter Welte and Jodi Jacobson-Swartfager"}
      %img{:alt => "Peter Welte and Jodi Jacobson-Swartfager", :height => "100", :src => "/media/photos/pdxmayor-06-mini.jpg", :width => "100"}/
  %li
    %a{:href => "http://www.facebook.com/photo.php?fbid=320176401352134&set=a.320176051352169.65889.231653533537755&type=3", :title => "Evan Manvel and Paul van Orden"}
      %img{:alt => "Evan Manvel and Paul van Orden", :height => "100", :src => "/media/photos/pdxmayor-07-mini.jpg", :width => "100"}/
  %li
    %a{:href => "http://www.facebook.com/photo.php?fbid=320176374685470&set=a.320176051352169.65889.231653533537755&type=3", :title => "Tom Rousculp and Jeff Jacobson-Swartfager"}
      %img{:alt => "Tom Rousculp and Jeff Jacobson-Swartfager", :height => "100", :src => "/media/photos/pdxmayor-08-mini.jpg", :width => "100"}/
  %li
    %a{:href => "http://www.facebook.com/photo.php?fbid=320176651352109&set=a.320176051352169.65889.231653533537755&type=3", :title => "Dan Kaufman, Jeff Mapes, and disco trike"}
      %img{:alt => "Dan Kaufman, Jeff Mapes, and disco trike", :height => "100", :src => "/media/photos/pdxmayor-09-mini.jpg", :width => "100"}/
  %li
    %a{:href => "http://www.facebook.com/photo.php?fbid=320176834685424&set=a.320176051352169.65889.231653533537755&type=3", :title => "Eileen Brady, Charlie Hales and Jefferson D Smith"}
      %img{:alt => "Eileen Brady, Charlie Hales and Jefferson D Smith", :height => "100", :src => "/media/photos/pdxmayor-10-mini.jpg", :width => "100"}/
  %li
    %a{:href => "http://www.facebook.com/photo.php?fbid=320176918018749&set=a.320176051352169.65889.231653533537755&type=3", :title => "Sarah Mirk, Eileen Brady, Charlie Hales and Jefferson D Smith"}
      %img{:alt => "Sarah Mirk, Eileen Brady, Charlie Hales and Jefferson D Smith", :height => "100", :src => "/media/photos/pdxmayor-11-mini.jpg", :width => "100"}/
  %li
    %a{:href => "http://www.facebook.com/photo.php?fbid=320176451352129&set=a.320176051352169.65889.231653533537755&type=3", :title => "Ken Southerland and Jonathan Maus"}
      %img{:alt => "Ken Southerland and Jonathan Maus", :height => "100", :src => "/media/photos/pdxmayor-12-mini.jpg", :width => "100"}/
  %li
    %a{:href => "http://www.facebook.com/photo.php?fbid=320176451352129&set=a.320176051352169.65889.231653533537755&type=3", :title => "Roger Averbeck and Charlie Hales"}
      %img{:alt => "Roger Averbeck and Charlie Hales", :height => "100", :src => "/media/photos/pdxmayor-13-mini.jpg", :width => "100"}/
  %li
    %a{:href => "http://www.facebook.com/photo.php?fbid=320176504685457&set=a.320176051352169.65889.231653533537755&type=3", :title => "Hannah Geason"}
      %img{:alt => "Hannah Geason", :height => "100", :src => "/media/photos/pdxmayor-14-mini.jpg", :width => "100"}/
  %li
    %a{:href => "http://www.facebook.com/photo.php?fbid=320176988018742&set=a.320176051352169.65889.231653533537755&type=3", :title => "Jesse Boudart and Michael Andersen"}
      %img{:alt => "Jesse Boudart and Michael Andersen", :height => "100", :src => "/media/photos/pdxmayor-15-mini.jpg", :width => "100"}/
  %li
    %a{:href => "http://www.facebook.com/photo.php?fbid=320176551352119&set=a.320176051352169.65889.231653533537755&type=3", :title => "Steve Bozzone and Jefferson D Smith"}
      %img{:alt => "Steve Bozzone and Jefferson D Smith", :height => "100", :src => "/media/photos/pdxmayor-16-mini.jpg", :width => "100"}/
%h3 Bike Walk Vote (re)launch party
%ul.images
  %li
    %a{:href => "/media/photos/0aa_0068.jpg", :title => "go to the image itself"}
      %img{:alt => "this is an awesome image placeholder", :height => "100", :src => "/media/photos/0aa_0068-mini.jpg", :width => "100"}/
  %li
    %a{:href => "/media/photos/0aa_0101.jpg", :title => "go to the image itself"}
      %img{:alt => "this is another awesome image placeholder", :height => "100", :src => "/media/photos/0aa_0101-mini.jpg", :width => "100"}/
  %li
    %a{:href => "/media/photos/0aa_0126.jpg", :title => "go to the image itself"}
      %img{:alt => "this is an awesome image placeholder", :height => "100", :src => "/media/photos/0aa_0126-mini.jpg", :width => "100"}/
  %li
    %a{:href => "/media/photos/bikewalkvote-2.jpg", :title => "go to the image itself"}
      %img{:alt => "this is another awesome image placeholder", :height => "100", :src => "/media/photos/bikewalkvote-2-mini.jpg", :width => "100"}/
  %li
    %a{:href => "/media/photos/bikewalkvote-5.jpg", :title => "go to the image itself"}
      %img{:alt => "this is another awesome image placeholder", :height => "100", :src => "/media/photos/bikewalkvote-5-mini.jpg", :width => "100"}/
  %li
    %a{:href => "/media/photos/bikewalkvote-7.jpg", :title => "go to the image itself"}
      %img{:alt => "this is an awesome image placeholder", :height => "100", :src => "/media/photos/bikewalkvote-7-mini.jpg", :width => "100"}/
%h2 Stories
%p
  There’s been some buzz in the news about us and the issues we care about. If you find a story that isn’t yet up here,
  = succeed "!" do
    %a{:href => "mailto:bikewalkvote@gmail.com?subject=Hey! You missed a story!", :title => "send us your bike walk vote stories"} email us
%ul#stories
  %li
    %h3
      %a{:href => "/media/stories/jefferson-smith-for-mayor.html", :title => "the bike walk vote press release endorsing Jefferson Smith for Mayor of Portland"} Bike Walk Vote Endorses Jefferson Smith for Mayor
    %p
      We’ve officially endorsed
      %a{:href => "http://www.jeffersonsmith.com", :title => "Jefferson Smith's campaign website"} Jefferson Smith
      for Portland Mayor.
    %blockquote Smith sets himself apart from the other candidates with his compelling commitment to promoting equitable transportation investments in underserved Portland communities and his unequivocal fiscal responsibility around the proposed Columbia River Crossing, where he supports the smartest path for saving the most taxpayer dollars while moving people and freight.
    %p
      Read the
      = succeed "." do
        %a{:href => "/media/stories/jefferson-smith-for-mayor.html", :title => "the bike walk vote press release endorsing Jefferson Smith for Mayor of Portland"} full press release
  %li
    %h3
      %a{:href => "http://wpcwalks.org/blog/local-motion-packed-house-important-conversation", :title => "The Willamette Pedestrian Coalition's audio of the Mayoral Candidate forum"} Local Motion: A Packed House, An Important Conversation
    %p
      The
      %a{:href => "http://wpcwalks.org", :title => "the WPC's website"} Willamette Pedestrian Coalition
      has collected audio of the Local Motion mayoral candidate forum. If you missed the event, you can still find out how the candidates stand on active transportation issues!
    %p
      The
      %abbr{:title => "Willamette Pedestrian Coaliton"} WPC
      has a link to both an iTunes download and an .mp3 download. Check it out on
      = succeed "." do
        %a{:href => "http://wpcwalks.org/blog/local-motion-packed-house-important-conversation", :title => "The Willamette Pedestrian Coalition's audio of the Mayoral Candidate forum"} their article
  %li
    %h3
      %a{:href => "http://psuvanguard.com/news/psu%E2%80%99s-lincoln-hall-battleground-mayoral-debate/", :title => "PSU's Vangaurd on the Mayoral Candidate forum"} PSU’s Lincoln Hall the battleground for mayoral debate
    %p
      %a{:href => "http://psuvanguard.com/author/desmond-fuller/", :title => "more articles by Desmond Fuller"} Desmond Fuller
      of PSU’s
      %a{:href => "http://psuvanguard.com/", :title => "Portland State University's campus paper, Vanguard"} Vanguard
      also covered
      = succeed "." do
        %a{:href => "http://www.facebook.com/events/331857066834905/", :title => "Local Motion facebook event"} Local Motion
    %blockquote Portland is one of the most pedestrian/bike and public transit friendly cities in the country, a fact supported over the last few years by the city consistently ranking high in various top-10 lists (such as Biking Magazine and reports from the Department of Transportation). This makes transportation one of the most important issues in the race to replace outgoing Mayor Sam Adams.
    %p
      Read the
      = succeed "." do
        %a{:href => "http://psuvanguard.com/news/psu%E2%80%99s-lincoln-hall-battleground-mayoral-debate/", :title => "PSU's Vangaurd on the Mayoral Candidate forum"} full article
  %li
    %h3
      %a{:href => "http://www.oregonlive.com/mapes/index.ssf/2012/02/portland_mayoral_candidates_co.html", :title => "Jeff Mapes on the PSU Planning Club's Mayoral Candidate forum"} Portland mayoral candidates compete to praise bicycling, walking and transit
    %p
      Jeff Mapes of
      %a{:href => "http://www.oregonlive.com/", :title => "Oregon's largest newspaper, the Oregonian"} the Oregonian
      covered PSU Planning Club’s mayoral forum event
      = succeed "." do
        %a{:href => "http://www.facebook.com/events/331857066834905/", :title => "Local Motion facebook event"} Local Motion: Portland Mayoral Candidates Discuss Active Transportation
    %p
      We were there too. We organized a pre-party at Hotlips Pizza, an after-party at Rogue, and we lead the twitter coverage (
      %a{:href => "https://twitter.com/#!/search/%23pdxmayor", :title => "see the feed on twitter"}> #PDXMayor
      ).
    %blockquote On Monday night I was at one of the countless number of forums featuring the three major candidates for Portland mayor. This event – sponsored by nine groups supportive of cycling, walking and transit – packed the main auditorium in Portland State University’s 475-seat Lincoln Hall and was a good example of how interest groups can use these kinds of forums to prod candidates in their direction.
    %p
      Read the
      = succeed "." do
        %a{:href => "http://www.oregonlive.com/mapes/index.ssf/2012/02/portland_mayoral_candidates_co.html", :title => "Jeff Mapes on the PSU Planning Club's Mayoral Candidate forum"} full article
  %li
    %h3
      %a{:href => "http://bikeportland.org/2011/11/15/bike-walk-vote-political-action-committee-set-for-re-launch-62083", :title => "BikePortland on Bike Walk Vote's upcoming re-launch"} Bike Walk Vote political action committee set for re-launch
    %p
      %a{:href => "http://www.bikeportland.org/", :title => "BikePortland: news, blog, bikes"} BikePortland
      wrote up a really nice article as we were gearing up to re-launch Bike Walk Vote.
    %blockquote Portland’s only political action committee that focuses solely on how candidates stack up on biking and walking issues – is about to awaken after a hiatus in the last election.
    %p
      Read the
      = succeed "." do
        %a{:href => "http://bikeportland.org/2011/11/15/bike-walk-vote-political-action-committee-set-for-re-launch-62083", :title => "BikePortland on Bike Walk Vote's upcoming re-launch"} full article
  %li
    %h3
      %a{:href => "http://portlandafoot.org/2011/12/low-car-voters-flex-muscles-eat-pizza-at-bike-walk-vote-kickoff-photos/", :title => "read the full story 'low car voters flex muscles eat pizza at bike walk vote kickoff photos'"} Low-car voters flex muscles & eat pizza at "Bike Walk Vote" kickoff
    %p
      The Bike Walk Vote Launch Party was a blast! Thanks everyone who kept the party alive for hours, and thanks
      %a{:href => "http://crankpdx.com/", :title => "Crank, one of the best bike shops with some of the nicest mechanics in town"} crank.pdx
      for letting us stay late! The first of the news coverage is in from
      %a{:href => "http://portlandafoot.org/", :title => "Portland Afoot, an awesome online magazine covering the Active Transportation movement in Portland"} Portland Afoot.
    %blockquote
      About 100 Portlanders, nearly all of them under 40, met a who’s who of local politicians in an Ash Street bike shop Sunday night to rub elbows, talk politics and raise
      %strike $1,000 to $2,000
      more than $3,000 (revised Monday morning estimate!) in political donations.
    %p
      Read the
      = succeed "." do
        %a{:href => "http://portlandafoot.org/2011/12/low-car-voters-flex-muscles-eat-pizza-at-bike-walk-vote-kickoff-photos/", :title => "read the full story 'low car voters flex muscles eat pizza at bike walk vote kickoff photos'"} full article